<nav class="navbar navbar-expand-lg header-bg">
  <div class="container-fluid header-fg">
    <a class="navbar-brand mb-0" href="#">
      <img src="/assets/rabobank-logo.png" alt="Logo"  class="d-inline-block align-text-top">
      </a>
    <button class="navbar-toggler header-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon navbar-dark"></span>
    </button>

    <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
      <hr>
      <ul class="navbar-nav mb-0 mt-lg-2 ms-lg-2 fs-4">
        <li class="nav-item px-2 d-flex align-items-center">
          <i class="bi bi-house me-4 me-lg-1"></i>
          <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item px-2 d-flex align-items-center">
          <i class="bi bi-search me-4 me-lg-1"></i>
          <a class="nav-link text-white" href="#">Insights</a>
        </li>
        <li class="nav-item px-2 d-flex align-items-center">
          <i class="bi bi-globe me-4 me-lg-1"></i>
          <a class="nav-link text-white" href="#">Sustainablity</a>
        </li>
      </ul>
        <ul class="navbar-nav mb-2 mb-lg-0 fs-4 ms-auto">
        <li class="nav-item px-2 d-flex align-items-center">
          <i class="bi bi-person me-4 me-lg-1"></i>
          <a class="nav-link text-white" href="#">My account</a>
        </li>
      </ul>
      <hr>
      <ul class="navbar-nav mb-2 mb-lg-0 fs-4 d-flex">
        <li class="nav-item px-2 d-flex align-items-center">
          <i class="bi bi-credit-card me-4 me-lg-1"></i>
          <a class="nav-link text-white" href="#">Switch product</a>
        </li>
        <li class="nav-item px-2 d-flex align-items-center">
          <i class="bi bi-gear me-4 me-lg-1"></i>
          <a class="nav-link text-white" href="#">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
