<div *ngIf="!formSuccessfull" class="container mt-1">
  <div class="card shadow-lg p-3">
    <h1 class="display-4">Transfer</h1>
    <small class="text-muted mb-2">
      Effortlessly transfer funds securely to any destination.
    </small>
    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input
          type="number"
          class="form-control"
          id="email"
          formControlName="amount"
        />
        <span class="text-danger"
              *ngIf="validateRequired('amount')">
                                Amount is required
                            </span>
      </div>

      <div class="mb-3" formGroupName="receiver">
        <label for="receiver" class="form-label">Receiver</label>
        <div class="mb-3">
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            data-toggle="modal"
            data-target="#addressBookModal"
            style="background-color: var(--sec-bg-color); border: none"
          >
            Open address book
          </button>
        </div>
        <input
          type="string"
          class="form-control"
          id="receiver"
          placeholder="Name"
          formControlName="receiverName"
        />
        <input
          type="string"
          class="form-control"
          id="iban"
          placeholder="IBAN"
          formControlName="receiverIban"
        />
        <span class="text-danger"
              *ngIf="validateRequired('receiver')">
                                Please fill in receiver details                          </span>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          formControlName="description"
        />
        <span class="text-danger"
              *ngIf="validateTooLong('description')">
                                Description is too long                           </span>
      </div>
      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="saveinbook"
          formControlName="saveInBook"
        />
        <label class="form-check-label" for="saveinbook"
          >Save account in address book</label
        >
      </div>
      <div class="d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-lg me-2"
          style="
            background-color: var(--sec-bg-color);
            border: none;
            color: white;
          "
        >
          Transfer
        </button>
        <a
          [routerLink]="'/'"
          type="button"
          class="btn btn-lg ms-2"
          style="background-color: grey; color: white; border: none"
        >
          Cancel
        </a>
      </div>
    </form>
  </div>
</div>

<!-- Address Book Modal -->
<div
  class="modal fade"
  id="addressBookModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addressBookModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addressBookModalLabel">Address Book</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          style="border: none; background: none"
        >
          <i class="bi bi-x-circle"></i>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let address of addressBook; index as i" class="">
          <a (click)="checkAddressBook(address)" data-dismiss="modal">
            <span class="fw-bold">Name:</span>
            <span>{{ address.name }}</span>
            <br />
            <span class="fw-bold">IBAN:</span>
            <span>{{ address.iban }}</span>
            <hr *ngIf="i < addressBook.length - 1" class="my-2" />
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<app-transaction-form-success *ngIf="formSuccessfull"></app-transaction-form-success>
