.transaction-item {
  background-color: white;
  padding: 8px 0;
  margin: 10px 0;
}

.payment {
  background-color: lightcoral;
  padding: 5px 10px;
  border-radius: 5px;
}

.receivement {
  background-color: lightgreen;
  padding: 5px 10px;
  border-radius: 5px;
}
