<div class="container mt-1">
  <div class="card shadow-lg p-3">
    <h1 class="display-4 success-title">Transfer successfully!</h1>
    <p class="success-title">Your moneys was transferred successfully. </p>
    <img
      src="./assets/success.jpg"
      class="card-img img"
      alt="account summary"
    />
    <a
      [routerLink]="'/'"
      type="button"
      class="btn btn-lg ms-2"
      style="background-color: grey; color: white; border: none"
    >
      Go back
    </a>
  </div>
</div>
