<div class="transaction-container">
  <div
    class="title-container shadow d-flex justify-content-between align-items-center"
  >
    <div class="title">Transactions</div>
    <div class="button-excel d-flex justify-content-evenly fs-5">
      <i class="bi bi-file-earmark-spreadsheet"></i>
    </div>
  </div>

  <div *ngFor="let transaction of transactionMap | keyvalue : originalOrder">
    <app-transaction-group
      [dateGroup]="transaction.key"
      [transaction]="transaction.value"
    ></app-transaction-group>
  </div>
</div>
