<div class="container mt-2">
  <h2 class="title">Transaction Details</h2>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ transaction.title }}</h5>
      <p class="card-subtitle mb-2 text-muted">
        Transaction ID: {{ transaction.id }}
      </p>
      <p class="card-text">Description: {{ transaction.description }}</p>
      <p class="card-text">Date: {{ transaction.date }}</p>
      <p class="card-text">From Account: {{ transaction.fromIBAN }}</p>
      <p class="card-text">To Account: {{ transaction.toIBAN }}</p>
      <p class="card-text">Amount: {{ transaction.amount.toFixed(2) }}</p>
      <p class="card-text">Category: {{ transaction.category }}</p>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <div
      class="button button-goback mt-2 d-flex justify-content-center align-items-center"
    >
      <i class="bi bi-arrow-left me-3"></i>
      <div>Back to home page</div>
    </div>
    <div
      class="button button-requestpayment mt-2 d-flex justify-content-center align-items-center"
    >
      <i class="bi bi-bag me-3"></i>
      <div>Request payment</div>
    </div>
  </div>
</div>
